services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: book-library-app
    working_dir: /var/www
    volumes:
      - ./backend:/var/www
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./backend/.env
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: book-library-nginx
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: book-library-db
    restart: always
    environment:
      MYSQL_DATABASE: book_library
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: root
      MYSQL_USER: laravel
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      timeout: 60s
      retries: 10

  frontend:
    image: node:20
    container_name: book-library-frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm run dev -- --host"
    ports:
      - "5173:5173"
    networks:
      - app-network

volumes:
  dbdata:

networks:
  app-network:
    driver: bridge
